{% extends 'base.html.twig' %}

{% block body %}


    <h1>Liste des categories</h1>


    <div class="d-flex justify-content-end">
        <a href="{{ path('app_admin_categorie_add') }}" class="btn btn-primary">Ajouter une catégorie</a>

    </div>
    <ul>
        {% for category in categories %}
        <li>{{ category.libelle }}</li>
        {% endfor %}
        </ul>

{% endblock %}

{% block title %}Liste des catégories{% endblock %}

